@CHARSET "UTF-8";

body {
	background-color: black;
}

#weatherData {
	max-width: 320px;
	background: black;
}

#map {
	width: 320px;
	height: 280px;
	background: black;
}

h1 {
	font-size: 20px;
	color: #00FF00;
}

h3 {
	font-size: 15px;
	color: #00FF00;
}

p {
	font-size: 12px;
	color: #00FF00;
	font-family: monospace;
}