@CHARSET "UTF-8";

body {
	background-color: white;
}

#weatherData {
	max-width: 960px;
	background: white;
}

#map {
	width: 960px;
	height: 400px;
	background: white;
}


h1 {
	font-size: 22px;
	color: black;
}

h3 {
	font-size: 18px;
	color: black;
}

p {
	font-size: 16px;
	font-family: monospace;
	color: black;
}